/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --page-background: #000028;
  --page-title-color: #db00ff;
  --page-color: #f1b2ce;
  --accent-color: #ff0070;
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-dark.png);
  /* <<<------ REUSE ------>>> */
  --border-color: var(--accent-color);
  --text-shadow: var(--accent-color);
  --page-title-shadow: var(--accent-color);
  --section-title-color: var(--accent-color);
  --article-title-color: var(--page-background);
  --article-title-background: var(--accent-color);
  --box-shadow: var(--accent-color);
  --link-shadow: var(--accent-color);
}

/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
