/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  display: grid;
  gap: 40px;
  background-color: #000028;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
  display: none;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.page-title {
  font-size: clamp(7.25rem, 6.3125rem + 4vw, 9.8125rem);
  color: #db00ff;
  text-shadow: 4px 4px 0px #ff0070;
  font-weight: 700;
  line-height: 82.5%;
}

.container {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
