/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
  line-height: 0;
  display: block;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

button,
a {
  color: var(--accent-color);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

html {
  block-size: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  gap: 60px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* <<<------ BUTTONS ------>>> */

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

/* <<<------ TITLES ------>>> */

.page-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--page-title);
  text-shadow: 4px 4px 0px #ff0070;
}

.section-title {
  max-inline-size: 315px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: var(--accent-color);
}

.article-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: var(--page-background);
  background-color: var(--accent-color);
}

.article-title-regular {
  font-weight: 400;
}

/* <<<------ BLOCKS ------>>> */

.container {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}
