/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

/* <<<------ 1.HEADER ------>>> */

.header {
  display: grid;
  position: relative;
  grid-template-rows: min-content 1fr;
  gap: 274px;
  padding-block-start: 20px;
  padding-block-end: 20px;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header__description {
  display: flex;
  flex-direction: column;
  gap: 114px;
}

.header__title {
  position: relative;
  left: -19px;
}

.header__text {
  inline-size: 491px;
  align-self: end;
}

/* <<<------ 2.MAIN ------>>> */

/* <<<------ MAIN sections ------>>> */
/* <<<------ 2.1.difficulties ------>>> */

/* <<<------ 2.2.reasons ------>>> */

/* <<<------ 2.3.upgrade ------>>> */

/* <<<------ 2.4.gallery ------>>> */

/* <<<------ 3.FOOTER ------>>> */
