/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* <<<------ BUTTONS and LINKS ------>>> */

.header__theme-menu-button {
  padding: 0.5px 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid;
}

.card__link:hover {
  border-bottom: 1px solid var(--page-color);
}

.card__link:focus {
  border: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--page-color);
}

/* <<<------ TITLES ------>>> */

.page-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--page-title);
  text-shadow: 4px 4px 0px var(--text-shadow);
}

.section-title {
  max-inline-size: 315px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: var(--accent-color);
}

@media (width <= 768px) {
  .section-title {
    max-inline-size: 236px;
  }
}

@media (width <= 576px) {
  .section-title {
    max-inline-size: 100%;
  }
}

.article-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: var(--article-title-color);
  background-color: var(--article-title-background);
}

.article-title-regular {
  font-weight: 400;
}

/* <<<------ BLOCKS ------>>> */

.container {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}

@media (width <= 576px) {
  .container {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }
}

.main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (width <= 768px) {
  .main-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
}

.decorated-zone::before {
  left: 20px;
  bottom: 20px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

@media (width <= 576px) {
  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }
}

.decorated-zone::after {
  right: 20px;
  top: 20px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

@media (width <= 576px) {
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  gap: 60px;
  font-family: "IBM Plex mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  color: var(--page-color);
  background-color: var(--page-background);
  background-image: var(--background-image);
  background-size: auto 768px;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (width <= 768px) {
  .page {
    background-size: auto 1024px;
  }
}

@media (width <= 576px) {
  .page {
    background-size: auto 668px;
  }
}

/* <<<------ 1.HEADER ------>>> */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 768px;
  padding-block-start: 20px;
  padding-block-end: 20px;
}

@media (width <= 768px) {
  .header {
    min-block-size: 1024px;
    grid-template-rows: 1fr 2fr;
    gap: 174px;
  }
}

@media (width <= 576px) {
  .header {
    min-block-size: 668px;
    display: flex;
    flex-direction: column;
    gap: 65px;
    padding-block-start: 10px;
    padding-block-end: 10px;
  }
}

.header__theme-menu {
  grid-column: 1/-1;
}

.top-bar-rec {
  position: absolute;
  top: 21px;
  right: 48px;
  text-transform: uppercase;
}

.top-bar-rec::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: -19px;
  top: 6px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--box-shadow);
  background-color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media (width <= 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
  }
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
}

.header__title {
  grid-column: 1/-1;
  position: relative;
  align-self: center;
  left: -19px;
}

@media (width <= 576px) {
  .header__title {
    letter-spacing: -3px;
    line-height: 80%;
    left: 0;
  }
}

.header__text {
  grid-column: 1/-1;
  max-inline-size: 491px;
  align-self: center;
  justify-self: end;
}

@media (width <= 768px) {
  .header__text {
    max-inline-size: 364px;
  }
}

/* <<<------ 2.MAIN ------>>> */

/* <<<------ MAIN sections ------>>> */
/* <<<------ 2.1.difficulties ------>>> */

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 80px;
}

@media (width <= 576px) {
  .main {
    gap: 50px;
  }
}

@media (width <= 768px) {
  .difficulties {
    gap: 40px;
  }
}

.difficulties__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 2/4;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* <<<------ 2.2.reasons ------>>> */

.reasons__title {
  grid-column: 1/-1;
}

@media (width <= 768px) {
  .reasons__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* <<<------ 2.3.upgrade ------>>> */

@media (width <= 768px) {
  .upgrade {
    gap: 30px;
  }
}

@media (width <= 576px) {
  .upgrade {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.upgrade__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 2/4;
}

.upgrade__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* <<<------ 2.4.gallery ------>>> */

.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width <= 576px) {
  .gallery {
    gap: 10px;
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px 21px;
}

@media (width <= 576px) {
  .gallery__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.gallery__item:first-of-type,
.gallery__item:last-of-type {
  grid-column: span 2;
}

.gallery__item:nth-of-type(2),
.gallery__item:nth-of-type(3) {
  grid-row: span 2;
}

/* <<<------ 3.FOOTER ------>>> */

.footer {
  display: flex;
  position: relative;
  flex-shrink: 0;
  min-block-size: 773px;
  align-items: center;
  justify-content: center;
}

@media (width <= 768px) {
  .footer {
    min-block-size: 1024px;
  }
}

@media (width <= 576px) {
  .footer {
    min-block-size: 668px;
  }
}

.footer__title {
  text-shadow: 2px 2px 0px var(--text-shadow);
}

@media (width <= 576px) {
  .footer__title {
    letter-spacing: -2px;
    line-height: 80%;
  }
}
